@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@600&display=swap");

body {
  font-family: "Josefin Sans", sans-serif;
}

p {
  font-family: "Josefin Sans", sans-serif;
}

table {
  font-family: "Josefin Sans", sans-serif;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-weight: bold;
}

.transparent-bg {
  background: transparent !important;
}

input {
  font-family: "Josefin Sans", sans-serif !important;
}

button {
  font-family: "Josefin Sans", sans-serif !important;
}

select {
  font-family: "Josefin Sans", sans-serif !important;
}
Text {
  font-family: "Josefin Sans", sans-serif !important;
}

